body{
    background-color: orchid;
    text-align: center;
  
}
.delbtn{
color: violet;
background-color:  rgb(150, 148, 148);
}

.ebtn{
    color: green;
    background-color:   rgb(150, 148, 148);